h1{
	font-style: italic;
	font-family: Impact, Charcoal, sans-serif;
	color: #666699;
}
body{
	background-color: #ccccff;
}
h4{
	font-family: Tahoma, Geneva, sans-serif
}
div.image {
    height:500px;
    width:500px;
}
div.transbox {
	width:500px;
	height:500px;
    opacity:0.5;
     }