h1{
	font-style: italic;
	font-family: Impact, Charcoal, sans-serif;
	color: #666699;
}
body{
	background-color: #ccccff;
}
h4{
	font-family: Tahoma, Geneva, sans-serif
}
div.image {
	float: left;
    width:50%;
	height:500px;
}
div.transbox {
	float: left;
	width:100%;
	height:500px;
    opacity:0.5;
    }
#map {
	float: right;
	width: 50%;
}
.container {
	width: 100%;
	height: 500px;
	position: absolute;
}
.map_container {
	width: 50%;
	height: 500px;
	float: right;
}
